body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

.close-btn {
    position: absolute;
    top: 140px;
    right: 455px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.close-btn:hover {
    color: #ff0000;
}