.color {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .filter-section {

    position: fixed;
    top: 360px;
    margin-left: 30px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    height: 280px;
    width: 100px;
    margin-top: 30px;
  }
  .filter-div {
    position: fixed;
  }
  
  #whiteCheckbox {
    
    position: absolute;
    top: 60px;
    left: 0px;
  
  }
  
  #blackCheckbox {
    position: absolute;
    top: 80px;
    left: 0px;
  }
  
  #allCheckbox {
    position: absolute;
    top: 40px;
    left: 25;
  }
  
  .label-checkbox {
    position: absolute;
    top: 0;
    left: 25px;
  }
  
  #whiteLabel {
    top: 80px;
  }
  
  #blackLabel {
    top: 60px;
  }
  
  #allLabel {
    top: 40px;
  }
    
  .proc {
    position: absolute;
    top: 100px;
    left:0px;
  }
  
  #ryzenCheckbox{
    position: absolute;
    top: 160px;
    left: 0px;
  }
  
  #intelCheckbox{
    position: absolute;
    top: 180px;
    left: 0px;
  }
  
  #ryzenLabel{
    top: 160px;
  }
  
  #intelLabel{
    top: 180px;
  }
  
  .gpu {
    position: absolute;
    top:200px;
    left: 0px;
  }
  
  #nvidiaCheckbox {
    position: absolute;
    top: 260px;
    left: 0px;
  }
  
  #amdCheckbox{
    position: absolute;
    top: 280px;
    left: 0px;
  }
  
  #nvidiaLabel{
    top: 260px;
  }
  
  #amdLabel{
    top: 280px;
  }