
.color {
    position: absolute;
    top: 10px;
    left: 0;
  }

.filter-section {
  position: fixed;
  top: 300px;
  margin-left: 30px;
  background-color: rgb(145, 145, 145);
  padding: 20px;
  border-radius: 10px;
  height: 340px;
  width: 70px;

}
.filter-div {
  position: fixed;
   
}
  
  #whiteCheckbox {
    position: absolute;
    top: 80px;
    left: 0;
  
  }
  
  #blackCheckbox {
    position: absolute;
    top: 60px;
    left: 0;
  }
  
  #allCheckbox {
    position: absolute;
    top: 40px;
    left: 0;
  }
  
  .label-checkbox {
    position: absolute;
    top: 0;
    left: 25px;
  }
  
  #whiteLabel {
    top: 80px;
  }
  
  #blackLabel {
    top: 60px;
  }
  
  #allLabel {
    top: 40px;
  }
  
  .res{
    position: absolute;
    top: 90px;
    left: 0;
  }
  
  #firstCheckbox {
    position: absolute;
    top: 140px;
    left: 0;
  }
  
  #secondCheckbox {
    position: absolute;
    top: 160px;
    left: 0;
  }
  
  #thirdCheckbox {
    position: absolute;
    top: 180px;
    left: 0;
  }
  
  #firstLabel {
    top: 140px;
  }
  
  #secondLabel {
    top: 160px;
  }
  
  #thirdLabel {
    top: 180px;
  }
  
  .proc {
    position: absolute;
    top: 190px;
    left:0px;
  }
  
  #ryzenCheckbox{
    position: absolute;
    top: 240px;
    left: 0;
  }
  
  #intelCheckbox{
    position: absolute;
    top: 260px;
    left: 0;
  }
  
  #ryzenLabel{
    top: 240px;
  }
  
  #intelLabel{
    top: 260px;
  }
  
  .gpu {
    position: absolute;
    top:270px;
    left:0px;
  }
  
  #nvidiaCheckbox {
    position: absolute;
    top: 320px;
    left: 0;
  }
  
  #amdCheckbox{
    position: absolute;
    top: 340px;
    left: 0;
  }
  
  #nvidiaLabel{
    top: 320px;
  }
  
  #amdLabel{
    top: 340px;
  }