.color {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .filter-section {
    position: fixed;
    top: 300px;
    margin-left: 30px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    height: 400px;
    width: 100px;
    margin-top: 30px;
  }
  .filter-div {
    position: fixed;
   
  }
  
  #whiteCheckbox {
    position: absolute;
    top: 60px;
    left: 0;
  
  }
  
  #blackCheckbox {
    position: absolute;
    top: 80px;
    left: 0;
  }
  
  #allCheckbox {
    position: absolute;
    top: 40px;
    left: 0;
  }
  
  .label-checkbox {
    position: absolute;
    top: 0;
    left: 25px;
  }
  
  #whiteLabel {
    top: 80px;
  }
  
  #blackLabel {
    top: 60px;
  }
  
  #allLabel {
    top: 40px;
  }
  
  .res{
    position: absolute;
    top: 100px;
    left: 0;
  }
  
  #firstCheckbox {
    position: absolute;
    top: 160px;
    left: 0;
  }
  
  #secondCheckbox {
    position: absolute;
    top: 180px;
    left: 0;
  }
  
  #thirdCheckbox {
    position: absolute;
    top: 200px;
    left: 0;
  }
  
  #firstLabel {
    top: 160px;
  }
  
  #secondLabel {
    top: 180px;
  }
  
  #thirdLabel {
    top: 200px;
  }
  
  .proc {
    position: absolute;
    top: 220px;
    left:0px;
  }
  
  #ryzenCheckbox{
    position: absolute;
    top: 280px;
    left: 0;
  }
  
  #intelCheckbox{
    position: absolute;
    top: 300px;
    left: 0;
  }
  
  #ryzenLabel{
    top: 280px;
  }
  
  #intelLabel{
    top: 300px;
  }
  
  .gpu {
    position: absolute;
    top:320px;
    left:0px;
  }
  
  #nvidiaCheckbox {
    position: absolute;
    top: 380px;
    left: 0;
  }
  
  #amdCheckbox{
    position: absolute;
    top: 400px;
    left: 0;
  }
  
  #nvidiaLabel{
    top: 380px;
  }
  
  #amdLabel{
    top: 400px;
  }