.filter-section {
    position: fixed;
    top: 300px;
    margin-left: 30px;
    background-color: rgb(145, 145, 145);
    padding: 20px;
    border-radius: 10px;
    height: 200px;
}

.label-checkbox {
    position: absolute;
    top: 0;
    left: 25px;
}

#firstCheckbox {
    position: absolute;
    top: 60px;
    left: 0;
}

#secondCheckbox {
    position: absolute;
    top: 80px;
    left: 0;
}

#thirdCheckbox {
    position: absolute;
    top: 100px;
    left: 0;
}

#firstLabel {
    top: 60px;
}

#secondLabel {
    top: 80px;
}

#thirdLabel {
    top: 100px;
}