
.color {
    position: absolute;
    top: 110px;
    left: 0;
  }
  .filter-section {
    position: fixed;
    top: 35 0px;
    margin-left: 30px;
   
   
  }
  .filter-div {
    position: fixed;
  }
  
  #whiteCheckbox {
    position: absolute;
    top: 160px;
    left: 0;
  
  }
  
  #blackCheckbox {
    position: absolute;
    top: 180px;
    left: 0;
  }
  
  #allCheckbox {
    position: absolute;
    top: 40px;
    left: 0;
  }
  
  .label-checkbox {
    position: absolute;
    top: 0;
    left: 25px;
  }
  
  #whiteLabel {
    top: 160px;
  }
  
  #blackLabel {
    top: 180px;
  }
  
  #allLabel {
    top: 40px;
  }
    
  .proc {
    position: absolute;
    top: 190px;
    left:0px;
  }
  
  #ryzenCheckbox{
    position: absolute;
    top: 240px;
    left: 0;
  }
  
  #intelCheckbox{
    position: absolute;
    top: 260px;
    left: 0;
  }
  
  #ryzenLabel{
    top: 240px;
  }
  
  #intelLabel{
    top: 260px;
  }
  
  .gpu {
    position: absolute;
    top:270px;
    left:0px;
  }
  
  #nvidiaCheckbox {
    position: absolute;
    top: 320px;
    left: 0;
  }
  
  #amdCheckbox{
    position: absolute;
    top: 340px;
    left: 0;
  }
  
  #nvidiaLabel{
    top: 320px;
  }
  
  #amdLabel{
    top: 340px;
  }