body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

section {
    max-width: 600px;
    margin: 2em auto;
    background-color: #fff;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
}


button {
    background-color: #4caf50;
    color: #fff;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

  button:hover {
    background-color: #45a049;
  }

.name-container {
    width: 48%;
    display: inline-block;
    margin-right: 2%;
}

.city {
    width: 48%;
    display: inline-block;
    margin-right: 2%;
}

.card {
    width: 48%;
    display: inline-block;
    margin-right: 2%;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 2em auto;
}

.form-section,
.info-section {
    width: 48%;
}

.info-box {
    background-color: #fff;
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

img {
    max-width: 100%;
    height: auto;
}