body {
    margin: 0;
    padding: 0;
}

.navi {
    text-align: center;
    margin-left: 400px;
}

a {
    color: black;
    text-decoration: none;
    margin: 5px;
}

.navi > nav:first-child a:hover {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 2px;
}

#searchbartop {
    text-align: center;
    margin-top: 100px;
    margin-right: 450px;
    margin-bottom: 10px;
}

.navigation {
    text-align: center;
    background-color: rgb(248, 248, 248);
}

img{
    position: absolute;
    width: 5%;
    right: 620px;
    top: 118px;
}
